<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group has-validation mb-3">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" [class.field-error]="form.submitted && propertyTest.invalid" id="name" [(ngModel)]="userSettings.name" required pattern="B.*" minlength="3" maxlength="10" #classTest #propertyTest="ngModel" />
      <!-- <p>{{ classTest.className }}</p>
      <p>dirty: {{ propertyTest.dirty }}</p>
      <p>pristine: {{ propertyTest.pristine }}</p>
      <p>touched: {{ propertyTest.touched }}</p>
      <p>untouched: {{ propertyTest.untouched }}</p>
      <p>invalid: {{ propertyTest.invalid }}</p>
      <p>valid: {{ propertyTest.valid }}</p> -->
      <div [hidden]="!form.submitted || propertyTest.valid" class="alert alert-danger">Please enter valid name</div>
    </div>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <!-- <input type="text" placeholder="Start Date" class="form-control" [(ngModel)]="startDate" name="startDate" id="startDate" bsDatePicker> -->
      <input type="text" placeholder="Start Date" class="form-control" [(ngModel)]="startDate" name="startDate" id="startDate" bsDaterangePicker>
    </div>

    <p>Start Date: {{ startDate }}</p>

    <div class="form-group">
      <label for="startTime">Start Time</label>
      <timepicker [(ngModel)]="startTime" name="startTime" id="startTime"></timepicker>
    </div>

    <div class="form-group">
      <label for="userRating">User Rating</label>
      <rating [(ngModel)]="userRating" name="userRating" id="userRating" [max]="maxRating" [readonly]="isReadonly" [titles]="['one', 'two', 'three']"></rating>
    </div>

    <p>User Rating: {{ userRating }}</p>

    <button type="button" class="btn btn-primary" [(ngModel)]="singleModel" name="singleModel" btnCheckbox btnCheckboxTrue="On" btnCheckboxFalse="Off">Single Toggle</button>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" name="emailOffers" id="emailOffers" [(ngModel)]="userSettings.emailOffers">
      <label for="emailOffers">
        Email Special Offers
      </label>
    </div>

    <div class="mb-3">
      <p>User Interface Style</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" [(ngModel)]="userSettings.interfaceStyle">
        <label for="lightInterface">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium" [(ngModel)]="userSettings.interfaceStyle">
        <label for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark" [(ngModel)]="userSettings.interfaceStyle">
        <label for="darkInterface">
          Dark
        </label>
      </div>
    </div>

    <div class="form-group mb-3">
      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" btnRadio="Light" name="interfaceStyle">Light</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" btnRadio="Medium" name="interfaceStyle">Medium</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" btnRadio="Dark" name="interfaceStyle">Dark</label>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="subscriptionType">Subscription Type</label>
      <select id="subscriptionType" name="subscriptionType" class="form-control" [(ngModel)]="userSettings.subscriptionType">
        <option *ngFor="let type of subscriptionTypes | async" value="type">{{ type }}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="notes">Subscription Type</label>
      <textarea id="notes" class="form-control" name="notes" rows="3" [(ngModel)]="userSettings.notes"></textarea>
    </div>

    <button class="btn btn-primary">Send</button>
  </form>
</div>

<div [hidden]="!postError" class="alert alert-danger">{{ postErrorMessage }}</div>

<!-- {{ originalUserSettings | json }}
{{ userSettings | json }} -->
